<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Service Now Tests Suite with Selenium WebDriver" parallel="false">
    <listeners> 
    	<listener class-name="utils.CustomReport" />

    </listeners>
    
    <test name="All test">
        <classes>
            <!-- <class name="com.example.tests.ESCTest"/>
            <class name="com.example.tests.Incident"/>
            <class name="com.example.tests.ESCtest1"/>  
            <class name="com.example.tests.NormalChange"/>
            <class name="com.example.tests.PasswordReset"/>-->
            <class name="com.example.tests.RequestClosedComplete"/>
            <class name="com.example.tests.RequestApprovalRejection"/>
            <class name="com.example.tests.RequestClosedIncomplete"/>  
        </classes>
    </test> <!-- Test -->
    
</suite> <!-- Suite -->